.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        max-width: calc(25% - 62px);
        min-width: calc(25% - 62px);
        margin: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.1);
        color: black;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
    }
}
